*.jar                                                                                                                                            
*.log                                                                                                                                            
*.tar.gz                                                                                                                                         
*.tar                                                                                                                                            
                                                                                                                                        
                                                                                                                                                 
**/target/
**/logs/
**/nbproject/
