<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c:%L - %m%n"/>-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n"/>
        </Console>

        <RollingFile name="file" fileName="logs/ms-cc-cmis-resource-server.log" 
                     filePattern="logs/$${date:yyyy-MM}/ms-cc-cmis-resource-server-%d{MM-dd-yyyy-HH}.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n"/>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>

    <Loggers>

        <!-- Allow debug logs for your application -->
        <!-- Replace "com.cloudcode" with your application's base package -->
        <Logger name="com.cloudcode" level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Logger>
        
        
        <Root level="WARN">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
